In [1]:
import requests
import pandas as pd

In [3]:
# I-4. edited_df.csv 파일 불러오기
df = pd.read_csv('I-4. edited_df.csv')
df

     edited_address
0       가음동 가양로52번길
1       가음동 가음로92번길
2      가음동 가음정로23번길
3      가음동 가음정로11번길
4       가음동 가양로34번길
...             ...
2578   서상동 평산로155번길
2579    소답동 의안로55번길
2580         중동 의안로
2581    팔용동 남산로17번길
2582  팔용동 의창대로116번길

[2583 rows x 1 columns]

In [4]:
# df에 좌표 컬럼 추가
df['lat'] = None
df['lng'] = None
df

     edited_address   lat   lng
0       가음동 가양로52번길  None  None
1       가음동 가음로92번길  None  None
2      가음동 가음정로23번길  None  None
3      가음동 가음정로11번길  None  None
4       가음동 가양로34번길  None  None
...             ...   ...   ...
2578   서상동 평산로155번길  None  None
2579    소답동 의안로55번길  None  None
2580         중동 의안로  None  None
2581    팔용동 남산로17번길  None  None
2582  팔용동 의창대로116번길  None  None

[2583 rows x 3 columns]

In [ ]:
# REST API 키 입력
REST_API_KEY = "f306c7b5268f915ecb185b3a4e5bcbea"

# 요청 URL
url = "https://dapi.kakao.com/v2/local/search/address.json"

# 요청 헤더
headers = {
    "Authorization": f"KakaoAK {REST_API_KEY}"
}

In [ ]:


for index, row in df.iterrows():
    params = {
        "query": row['주소']
    }

    # GET 요청
    response = requests.get(url, headers=headers, params=params)

    # 결과 출력
    if response.status_code == 200:
        data = response.json()
        print(data)
    else:
        print(f"요청 실패: {response.status_code}")

In [9]:
# data 변수 결과값을 json으로 저장
# 개행을 포함하여 가독성있게 저장
import json

with open("response.json", "w") as json_file:
    json.dump(data, json_file, ensure_ascii=False, indent=4)